<!-- app.component.html -->

<div class="container">
    <h1>Bienvenido a DentalLab</h1>
    <p>Transformamos sonrisas con precisión y pasión.</p>
    
    <!--Insertar imagen-->
    <img src="assets/LOGO.png" alt="Laboratorio Dental" style="width: 400px; height: 240px;"/>
  
    <div class="services">
      <h2>Nuestros Servicios</h2>
      <ul>
        <li><strong>Prótesis Dentales:</strong> Restauramos sonrisas con prótesis personalizadas.</li>
        <li><strong>Materiales de Calidad:</strong> Garantizamos productos duraderos y de la más alta calidad.</li>
      </ul>
    </div>
  
    <div class="why-choose-us">
      <h2>¿Por qué elegirnos?</h2>
      <ul>
        <li><strong>Tecnología de Vanguardia:</strong> Empleamos equipos de última generación para resultados precisos.</li>
        <li><strong>Experiencia Profesional:</strong> Nuestro equipo cuenta con años de experiencia en el campo dental.</li>
        <li><strong>Compromiso con la Calidad:</strong> Garantizamos productos de alta calidad que cumplen con los estándares más exigentes.</li>
      </ul>
    </div>
  
    <!--
        --Aquí se visualizarán algunos comentarios buenos de clientes satisfechos en el inicio del cliente.
    <div class="testimonials">
      <h2>Testimonios</h2>
      <p>"Estoy muy satisfecho con el servicio del laboratorio. Mis pacientes siempre elogian la calidad de las prótesis dentales." - Dra. García</p>
    </div>

   Configurar estos botones más adelante
    <div class="cta-buttons">
      <button (click)="exploreServices()">Explora Nuestros Servicios</button>
      <button (click)="contactUs()">Contáctanos</button>
    </div>

    <-- Enlazar redes sociales con las correspondientes al lab-- 
    <div class="social-media">
      <h2>Síguenos en Redes Sociales</h2>
      <ul>
        <li><a href="url_facebook" target="_blank">Facebook</a></li>
        <li><a href="url_instagram" target="_blank">Instagram</a></li>
        <li><a href="url_twitter" target="_blank">Twitter</a></li>
      </ul>
    </div>
-->
  </div>
  