<mat-nav-list>

    <!--/dashboard -> /dashboard/home-->
    <a (click)="goTo('home')" mat-list-item>Inicio</a>

    <!--/dashboard -> /dashboard/perfil-->
    <a (click)="goTo('perfil')" mat-list-item>Perfil</a>
    
    <!--/dashboard -> /dashboard/users-->
    <a (click)="goTo('users')" mat-list-item>Usuarios</a>

    <!--/dashboard -> /dashboard/pedidos-->
    <a (click)="goTo('pedidos')" mat-list-item >Pedidos</a>

    <!--/dashboard -> /dashboard/inventarios-->
    <a (click)="goTo('inventarios')" mat-list-item >Inventarios</a>

    <!--/dashboard -> /dashboard/products-->
    <a (click)="goTo('products')" mat-list-item >Productos</a>

    <!--/dashboard -> /auth-->
    <a mat-list-item  (click)="LogOut()">Cerrar Sesión</a>

  </mat-nav-list>