<mat-nav-list>

  <!-- Inicio (Visible para todos)-->
  <a (click)="goTo('home')" mat-list-item>Inicio</a>

  <!-- Perfil (Visible para todos)-->
  <a (click)="goTo('perfil')" mat-list-item>Perfil</a>
  
  <!-- Usuarios (Visible solo para Administradores) -->
  <a *ngIf="rol === 'Administrador'" (click)="goTo('users')" mat-list-item>Usuarios</a>

  <!-- Pedidos (Visible para todos) -->
  <a (click)="goTo('pedidos')" mat-list-item>Pedidos</a>

  <!-- Inventarios (No visible para Clientes) -->
  <a *ngIf="rol !== 'Cliente'" (click)="goTo('inventarios')" mat-list-item>Inventarios</a>

  <!-- Productos (No visible para Empleados) -->
  <a *ngIf="rol !== 'Empleado'" (click)="goTo('products')" mat-list-item>Productos</a>

  <!-- Cerrar Sesión -->
  <a mat-list-item  (click)="LogOut()">Cerrar Sesión</a>

</mat-nav-list>
