<!--<button mat-flat-button color="primary" type="button" (click)="onCreateProduct()">
    <mat-icon>add</mat-icon>
    Agregar Curso
</button>
-->
<div>
    <span appResaltado>
        Aquí pordrá visualizar la información de los cursos activos.
    </span>
</div>
<div>
    <table mat-table [dataSource]="(inscripciones$|async) || []" class="mat-elevation-z8">
  
        <ng-container matColumnDef="curso">
          <th mat-header-cell *matHeaderCellDef appResaltado> Curso </th>
          <td mat-cell *matCellDef="let element"> {{element.id_curso}} </td>
        </ng-container>
      
        <ng-container matColumnDef="cont">
            <th mat-header-cell *matHeaderCellDef appResaltado> Alumnos Inscritos </th>
            <td mat-cell *matCellDef="let element"> {{element.id_alumnos}} </td>
          </ng-container>
    
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef appResaltado> Acciones </th>
          <td mat-cell *matCellDef="let element"> 
            
            <button mat-icon-button color="primary" [routerLink]="element.id_curso">
              <mat-icon>visibility</mat-icon>
            </button>
    
            <button mat-icon-button color="warn" >
              <mat-icon>delete</mat-icon>
            </button>
            
            <button mat-icon-button color="primary" >
              <mat-icon>edit</mat-icon>
            </button>
            
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
