<div>

<div *ngIf="user">
    <h2>Detalles del Usuario</h2>
    <table>
      <tr>
        <th>Nombre</th>
        <td>{{ user.nombre }}</td>
      </tr>
      <tr>
        <th>Primer Apellido</th>
        <td>{{ user.apellido1 }}</td>
      </tr>
      <tr>
        <th>Segundo Apellido</th>
        <td>{{ user.apellido2 }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>Teléfono</th>
        <td>{{ user.telefono }}</td>
      </tr>
      <tr>
        <th>Dirección</th>
        <td>{{ user.direccion }}</td>
      </tr>
      <tr>
        <th>Tipo</th>
        <td>{{ user.tipo }}</td>
      </tr>
    </table>
  </div>
          
</div>

<!-- Mostrar el botón "Modificar" solo si la variable perfil es true -->
<button mat-icon-button color="primary" *ngIf="perfil" (click) = "onEditProfile()">
  <mat-icon>edit</mat-icon>
</button>

<button mat-icon-button routerLink="..">
    <mat-icon>arrow_back</mat-icon>
</button>