<div>

<div *ngIf="user">
    <h2>Detalles del Usuario</h2>
    <table>
      <tr>
        <th>ID</th>
        <td>{{ user.id }}</td>
      </tr>
      <tr>
        <th>Nombre</th>
        <td>{{ user.nombre }}</td>
      </tr>
      <tr>
        <th>Apellido 1</th>
        <td>{{ user.apellido1 }}</td>
      </tr>
      <tr>
        <th>Apellido 2</th>
        <td>{{ user.apellido2 }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>Teléfono</th>
        <td>{{ user.telefono }}</td>
      </tr>
      <tr>
        <th>Dirección</th>
        <td>{{ user.direccion }}</td>
      </tr>
      <tr>
        <th>Clave</th>
        <td>{{ user.clave }}</td>
      </tr>
      <tr>
        <th>Tipo</th>
        <td>{{ user.tipo }}</td>
      </tr>
      <tr>
        <th>Token</th>
        <td>{{ user.token }}</td>
      </tr>
    </table>
  </div>
          
</div>

<button mat-icon-button routerLink="..">
    <mat-icon>arrow_back</mat-icon>
</button>