<h1 mat-dialog-title>{{
    editingInventario
    ? "Modificar Material: " + editingInventario.material 
    : "Registrar Material"    
}}</h1>
<div mat-dialog-content>
    <form [formGroup] = "inventariosForm" class="grid">

        <div class="col-6 field">
            <mat-form-field appearance = "outline">
                <mat-label>Material</mat-label>
                <input formControlName ="material" matInput type="text" name = "material">
                <mat-error *ngIf = "MaterialControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
                <mat-error *ngIf = "MaterialControl.hasError('minlength')"> 
                    Debe contar con al menos 2 caracteres
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Campo Fecha_ingreso -->
        <div class="col-6 field">
            <mat-form-field appearance="outline">
                <mat-label>Fecha de ingreso</mat-label>
                <input matInput formControlName="fecha_ingreso" [matDatepicker]="pickerIngreso" name="fecha_ingreso">
                <mat-datepicker-toggle matSuffix [for]="pickerIngreso"></mat-datepicker-toggle>
                <mat-datepicker #pickerIngreso></mat-datepicker>
                <mat-error *ngIf="FechaIngresoControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
            </mat-form-field>
        </div>
        <!-- Campo Fecha_caducidad -->
        <div class="col-6 field">
            <mat-form-field appearance="outline">
                <mat-label>Fecha de caducidad</mat-label>
                <input matInput formControlName="fecha_caducidad" [matDatepicker]="pickerCaducidad" name="fecha_caducidad">
                <mat-datepicker-toggle matSuffix [for]="pickerCaducidad"></mat-datepicker-toggle>
                <mat-datepicker #pickerCaducidad></mat-datepicker>
                <mat-error *ngIf="FechaCaducidadControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-6 field">
            <mat-form-field appearance = "outline">
                <mat-label>Proveedor</mat-label>
                <mat-select formControlName="proveedor"  matInput type = "text" name = "proveedor">
                    <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor">{{ proveedor }}</mat-option>
                </mat-select>
                <mat-error *ngIf = "ProveedorControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
              </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field appearance = "outline">
                <mat-label>Descripción</mat-label>
                <input formControlName ="descripcion" matInput type = "text" name = "descripcion">
                <mat-error *ngIf = "DescripcionControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
                <mat-error *ngIf = "DescripcionControl.hasError('minlength')"> 
                    Debe contar con al menos 2 caracteres
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field appearance = "outline">
                <mat-label>Unidad de medida</mat-label>
                <mat-select formControlName="unidad_medida"  matInput type = "text" name = "unidad_medida" required>
                  <mat-option value="Piezas">Piezas</mat-option>
                  <mat-option value="Gramos">Gramos</mat-option>
                  <mat-option value="Mililitros">Mililitros</mat-option>
                </mat-select>
                <mat-error *ngIf = "UnidadMedidaControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
              </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field appearance = "outline">
                <mat-label>Cantidad</mat-label>
                <input formControlName ="cantidad_disponible" matInput type = "number" name = "cantidad_disponible">
                <mat-error *ngIf = "CantidadControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
                <mat-error *ngIf = "CantidadControl.hasError('minlength')"> 
                    Debe contar con al menos 2 caracteres
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field appearance = "outline">
                <mat-label>Precio</mat-label>
                <input formControlName ="precio" matInput type = "number" name = "precio">
                <mat-error *ngIf = "PrecioControl.hasError('required')"> 
                    Este campo es requerido. El valor debe ser mayor a 0.
                </mat-error>
                <mat-error *ngIf = "PrecioControl.hasError('min')"> 
                    No puede ser valores negativos
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 flex justify-content-end">
            <button mat-button mat-dialog-close> Cancelar </button>
            <button mat-button type="submit" (click) = "onSubmint()"> Guardar </button>
        </div> 

    </form>
    <!--Tabla de contenidos-->

    <pre>
        <!--{{ usersForm.value | json}} -->
    </pre>
</div>